
.c li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
}

.btun:hover{
    color:blue !important;
    text-decoration: none !important;
}


/* @media screen and (min-width: 700px) {
    .col_4{
        position:fixed !important;
        right:10%;
        top:130%;
    }
  } */