
.c li {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
}

.btun:hover{
    color:blue !important; 
    text-decoration: none !important;
}
.col_4{

}
/* 
@media (min-width: 700px) {
    .col_4{
        position:sticky !important;
        height: fit-content;
        /* top:1%; */
   /* }
 /* }
   */
  