
.input{
    border-width: 1px !important;
    border-color:  rgb(148, 147, 147) !important;
    height: 40px !important;
    box-shadow:none !important;
    border-radius: 10px !important;
    margin-top: 10px;
}

.input:focus{
    border-width: 2px !important;

    border-color: black !important; 
}
.show {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: bold;
}