.PasswordPage {}

.input{
    border-width: 1px 0px 1px 1px !important;
    border-color:  rgb(148, 147, 147) !important;
    height: 60px !important;
    box-shadow:none !important;
    border-radius: 10px 0px 0px 10px !important;
}

.input:focus{
    border-width: 3px 0px 3px 3px !important;

    border-color: black !important; 
}