.show{
    display: none;
  }
.hide_sm{
  display: flex;
}
.hide{
  display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

  @media (max-width: 967px){
    .show{
        display: flex;
    }
    .hide {
        display: none;
    }
  }

  @media (max-width:650px){
    .hide_sm{
      display: none;
    }
  }