nav{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    background-color: var(--main-color);
    color: var(--text-color);
    z-index:99;
}
.main_nav{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
}
.sec_nav {
    display: flex;
    padding:.4rem 1rem;
    align-items: center;
    justify-content: space-between;

}
.sec_nav a:hover{
    color: var(--sec-color);
}
nav a {
    color: var(--text-color);
    text-decoration: none;
}
p{
    margin: 0 !important;
}
nav img {
    width: 120px;
}

.cat {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: .5rem .8rem;
    border-radius:2rem;
    justify-content: center;
    width: max-content;

}
.cat:hover {
    background-color: var(--hovered-nav);
}

input[type="search"] {
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}
input[type="search"]:focus {
    border-radius: 0;
}
.wrap{
    display: flex;
    gap: 1rem;
}
.cart {
    background-color: var(--text-color);
    padding: .3rem .7rem;
    border-radius: 25px;
    display: flex;
    gap: .2rem;
    height: 45px;
    min-width: 120px;
    transition: all .3s ease-in-out;
}
.cart:hover {
    transform: scale(1.1);

}
.cart div {
    color: var(--main-color);
    font-size: .8rem;
    font-weight: bold;
    align-items: center;
}

.cart img {
    width: auto;
}

.bkdrop{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.523);
}
.mobNav{
    background-color: var(--main-color);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 300px;
    flex-direction: column;
    padding: 1rem .2rem;
    margin-left: -600px;
    justify-content: center;
    animation: slide .4s ease-in-out forwards;
}

.mobNav a:hover {
    color: var(--sec-color);
}
@keyframes slide {
    0%{
        margin-left: -600px;
    }
    100%{
        margin-left: 0;
    }
}